<div class="ui center aligned">
	<div style="margin: 2em 0; width: 40em]">
		<form action="{{app.path('admin_login_check')}}" method="post">
			<div class="ui form piled segment">
				<h2 class="ui header">Please Login To Continue</h2>
				{% if error %}<div class="ui negative message">{{error}}</div>{% endif %}
				<div class="required field">
					<label>User Name</label>
				    <input type="text" name="_username" placeholder="User Name" value="{{last_username}}" />
				</div>
				<div class="required field">
					<label>Password</label>
					<input type="password" name="_password" placeholder="Password" value="" />
				</div>
				<div class="required field center aligned">
					<input class="ui primary button" type="submit" name="login" value="Login" />
				</div>
			</div>
		</form>
	</div>
</div>
