<h1 class="ui header">
	<i class="sitemap icon"></i>
	<div class="content">{{repoid}} [{{path}}]</div>
</h1>

<div class="ui message">
Please wait for a few seconds for this path to be set up with Git repository ...
</div>

<script>
window.location = {{app.path('repo_init', {'repoid':repoid})|json_encode|raw}};
</script>