<h1 class="ui header">
	<i class="database icon"></i>
	<div class="content">All contexts</div>
</h1>

{% for name,context in contexts %}
<div class="ui item segment">
	<h2 class="header">
		<a href="{{app.path('context_details', {'ctxid': name})}}">{{name}}</a>
	</h2>
	<div class="ui right floated description">
		<p>{{context.getPath}}</p>
	</div>
	{% if context.isDirty() %}
	<a class="ui red top right attached label"><i class="warning sign icon"></i>Unsync</a>
	{% elseif not context.isLatest() %}
	<a class="ui orange top right attached label"><i class="warning sign icon"></i>Outdated</a>
	{% else %}
	<a class="ui green top right attached label"><i class="check circle icon"></i>OK</a>
	{% endif %}
</div>
{% endfor %}
